@font-face {
    font-family: bebasBold;
    src: url(../fonts/BebasNeue-Bold.otf);
}

input{
	background-color: silver;
	margin-top: 5px;
}
@font-face {
    font-family: bebasLight;
    src: url(../fonts/BebasNeue-Light.otf);
}

@font-face {
    font-family: bebasRegular;
    src: url(../fonts/BebasNeue-Regular.otf);
}

@font-face {
    font-family: proximaLight;
    src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
    font-family: proximaRegular;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: proximaBold;
    src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
    font-family: proximaBlack;
    src: url(../fonts/ProximaNova-Black.otf);
}



.nav>ul>li{

}

.bebasBold{
	font-family: bebasBold;
}

.bebasRegular{
	font-family: bebasRegular;
}

.bebasLight{
	font-family: bebasLight;
}

.proximaBold{
	font-family: proximaBold;
}

.proximaBlack{
	font-family: proximaBlack;
}

.proximaRegular{
	font-family: proximaRegular;
}

.proximaLight{
	font-family: proximaLight;
}


body{
	color:white;
	font-family: proximaRegular;
}

.yellow{
	color:yellow;
}

.black{
	color:black;
}

.white{
	color:white;
}

.text-center{
	text-align: center;
}

.topnav-font>li{
	font-size: 28px;
    font-weight: 700;
}

.margin-top-10{
	margin-top: 10px;
}


.spacing-2{
	letter-spacing: 2px;
}
.spacing-4{
	letter-spacing: 4px;
}
.spacing-6{
	letter-spacing: 6px;
}
.spacing-8{
	letter-spacing: 8px;
}
.spacing-10{
	letter-spacing: 10px;
}



.lineheight-0p5{
	line-height: 0.5em;
}

.lineheight-1{
	line-height: 1em;
}

.lineheight-1p5{
	line-height: 1.5em;
}

.lineheight-2{
	line-height: 2em;
}

.lineheight-2p5{
	line-height: 2.5em;
}

.lineheight-3{
	line-height: 3em;
}

.lineheight-3p5{
	line-height: 3.5em;
}

.bold{
	font-weight: bold;
}

.bolder{
	font-weight: bolder;
}

.border-circle{
	background-color: yellow;
	border-radius: 50%;
	border: 10px solid white;
	width:140px;
	height: 140px;
	line-height: 0.5em;
	font-weight: bold;
	color:gray;
	padding-top: 35px;

}

.abspos{
	position:absolute;
}

.fixpos{
	position: fixed;
}

.margin-bot-20{
	margin-bottom: 20px;
}

.margin-bot-30{
	margin-bottom: 30px;
	bottom: 0px;
}

.margin-bot-40{
	margin-bottom: 40px;
}

.margin-bot-50{
	margin-bottom: 50px;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-top-30{
	margin-top: 30px;
}

.margin-top-40{
	margin-top: 40px;
}

.margin-top-50{
	margin-top: 50px;
}

.margin-top-60{
	margin-top: 60px;
}

.margin-top-100{
	margin-top: 100px;
}

.margin-top-150{
	margin-top: 150px;
}

.font-size-10{
	font-size: 10px;
}

.font-size-12{
	font-size: 12px;
}

.font-size-15{
	font-size: 15px;
}

.font-size-18{
	font-size: 18px;
}

.font-size-20{
	font-size: 20px;
}

.font-size-25{
	font-size: 25px;
}

.font-size-30{
	font-size: 30px;
}

.font-size-37{
	font-size: 37px;
}

.font-size-40{
	font-size: 40px;
}

.font-size-50{
	font-size: 50px;
}

.font-size-57{
	font-size: 57px;
}
.font-size-60{
	font-size: 60px;
}

.font-size-70{
	font-size: 70px;
}

.font-size-78{
	font-size: 78px;
}

.font-size-80{
	font-size: 80px;
}

.font-size-90{
	font-size: 90px;
}

.font-size-100{
	font-size: 90px;
}

.font-size-104{
	font-size: 104px;
}

.home-content{
	min-height:100vh;
	height:100vh;
	background: url("../img/page1/bg_artist_01.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.records-content{
	min-height:100vh;
	height:100vh;
	background: url("../img/page1/bg_records_01.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.tv-content{
	min-height:100vh;
	height:100vh;
	background:  url("../img/page1/bg_erf_01.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

.radio-content{
	min-height:100vh;
	height:100vh;
	background: url("../img/page1/bg_radio_01.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.album-content{
	min-height:100vh;
	height:100vh;
	background:  gray; /*url("../img/page1/bg_albumpage_01.png");*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.login-content{
	min-height:100vh;
	height:100vh;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.three-dee {
		  margin: 30px auto 0;
		  display: block;
		  width: 363px;
		  height: 137px;
		  z-index: 2;
		  outline: 3px solid cyan;
		  background: url("img/download.jpg"), cyan;
		  background-blend-mode: lighten;
		  background-size: cover;
		}
		.three-dee:after {
		  content: '';
		  position: absolute;
		  display: block;
		  width: 363px;
		  height: 137px;
		  z-index: 3;
		  background: url("img/download.jpg"), red;
		  background-blend-mode: lighten;
		  outline: 3px solid red;
		  background-size: cover;
		  mix-blend-mode: darken;
		  -webkit-animation: show-overlap 3s linear infinite alternate;
		          animation: show-overlap 3s linear infinite alternate;
		}

		@-webkit-keyframes show-overlap {
		  0% {
		    margin-left: 5px;
		  }
		  10%{
		  	margin-left: 6px;
		  }
		  30%{
		  	margin-left: 3px;
		  }
		  60%{
		  	margin-left: 5px;
		  }
		  70%{
		  	margin-left: 2px;
		  }
		  90%{
		  	margin-left: 6px;
		  }
		  100%{
		    margin-left: 5px;
		  }
		}

		@keyframes show-overlap {
		  0% {
		    margin-left: 5px;
		  }
		  10%{
		  	margin-left: 6px;
		  }
		  30%{
		  	margin-left: 3px;
		  }
		  60%{
		  	margin-left: 5px;
		  }
		  70%{
		  	margin-left: 2px;
		  }
		  90%{
		  	margin-left: 6px;
		  }
		  100%{
		    margin-left: 5px;
		  }
		}


.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.enlarge{
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.enlarge:hover{
	transform: scale(1.1);
}

.popup-login{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 50000;
}

#popup-tv{
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 50000;
	overflow: hidden;
}

.margintop-60 {
	margin-top: -60px !important;
}

.stereo{
	animation: stereo-anim 2s alternate infinite ease-in-out;
}

@keyframes stereo-anim { 
	0% { text-shadow: -0.01em 0 red, 0.01em 0 cyan; } 
	100% { text-shadow: -0.025em 0 red, 0.025em 0 cyan; } 
}

.stereos{
	 text-shadow: -0.02em 0 red, 0.02em 0 cyan; 
}

.map{
	width: 100%;
	height: 60vh;
}

.footer{
	width: 100%;
	height: 35vh;
}

.navlink:hover{
	background-color: transparent;
	color: yellow;
}

.navlink:active{
	color: yellow !important;
}

#brand-logo{

}

.noborder{
	border-radius: 0px;
	border: 0px solid transparent;
}

.match-width{
	width: 100%;
}

.img-overlay{
	position:absolute;
	width:100%;
	background-color: yellow;
	height: 100%;
	z-index: 500;
    left:0px;
    right:0px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.img-overlay:hover{
	opacity: 1;
}

.nav>li>a:focus{
	color: yellow;
}

